In [2]:
import pandas as pd
import numpy as np

In [23]:
df_2019_01 = pd.read_csv("JC-201901-citibike-tripdata.csv")
df_2019_02 = pd.read_csv("JC-201902-citibike-tripdata.csv")
df_2019_03 = pd.read_csv("JC-201903-citibike-tripdata.csv")
df_2019_04 = pd.read_csv("JC-201904-citibike-tripdata.csv")
df_2019_05 = pd.read_csv("JC-201905-citibike-tripdata.csv")
df_2019_06 = pd.read_csv("JC-201906-citibike-tripdata.csv")
df_2019_07 = pd.read_csv("JC-201907-citibike-tripdata.csv")
df_2019_08 = pd.read_csv("JC-201908-citibike-tripdata.csv")
df_2019_09 = pd.read_csv("JC-201909-citibike-tripdata.csv")
df_2019_10 = pd.read_csv("JC-201910-citibike-tripdata.csv")
df_2019_11 = pd.read_csv("JC-201911-citibike-tripdata.csv")
df_2019_12 = pd.read_csv("JC-201912-citibike-tripdata.csv")

In [18]:
df_2019_01.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [19]:
df_2019_02.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,142,2019-02-01 15:35:02.0820,2019-02-01 15:37:24.1360,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29677,Subscriber,1963,1
1,223,2019-02-01 17:00:46.8900,2019-02-01 17:04:30.5500,3183,Exchange Place,40.716247,-74.033459,3681,Grand St,40.715178,-74.037683,26234,Subscriber,1992,2
2,106,2019-02-01 17:08:01.3260,2019-02-01 17:09:47.4400,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29588,Subscriber,1960,1
3,370,2019-02-01 17:09:31.2100,2019-02-01 17:15:41.6550,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,29250,Subscriber,1976,1
4,315,2019-02-01 17:19:53.2490,2019-02-01 17:25:09.1400,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,29586,Subscriber,1980,1

In [26]:
df = pd.concat([df_2019_01, df_2019_02, df_2019_03, df_2019_04, df_2019_05, df_2019_06, df_2019_07, df_2019_08, df_2019_09, df_2019_10, df_2019_11, df_2019_12], ignore_index=True)
df.to_csv('2019/2019_concat_test.csv', index = False)
# df.to_csv("")

In [33]:
bikeid_counts = pd.DataFrame(df['bikeid'].value_counts())

In [35]:
bikeid_counts.head(20)

       bikeid
29286    1134
26159    1071
29612    1060
29210    1059
29660    1055
29207    1051
29640    1046
26155    1036
29584    1030
29221    1026
29608    1026
29242    1024
29209    1023
29455    1018
26243    1014
29272    1013
29586    1010
26431    1009
29598    1006
26316     999